html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body, input {
	font-family: YaHei Consolas Hybrid, Arial, Verdana, sans-serif;
	font-size: 12.8px;
}

pre {
	/* Monospace is better than Consolas */
	font-family: Monospace, Verdana, sans-serif;
	font-size: 11px;
	color: #888;
	border: 1px solid silver;
	padding: 0.5em;
}

ul, ol {
	margin: 0.5em 0 1.5em 0
}

li {
	margin: 0.5em 0;
	line-height: 1.382em
}

.mtime {
	color: orange;
	font-size: 9px;
	-webkit-text-size-adjust:none;
}
.atime {
	color: silver;
	font-size: 9px;
	-webkit-text-size-adjust:none;
}
.ctime {
	color: #ddd;
	font-size: 9px;
	-webkit-text-size-adjust:none;
}